<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/home/login.js" defer></script>
</head>
<body>
    <input id='id' type="text" placeholder="아이디"><br>
    <input id='pass' type="text" placeholder="비밀번호"><br>
    <button>입력</button>
</body>
</html>